@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BaoShan<br />
    Very far, extremely far<br />
    <abbr title="Phone">P:</abbr>
    13900000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@xservice.com">Support@xservice.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@xservice.com">Marketing@xservice.com</a>
</address>