@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Login System Home Page";
}

<div class="jumbotron">
    <h1>Login System</h1>
    <p class="lead">
        @if (Request.IsAuthenticated)
        {
        <p>Hello: @User.Identity.GetUserName(), UserId: @User.Identity.GetUserId()</p>
        }
        This is the Login System for XService.
        </p>
        <p>
            <a href="http://xservice.com" class="btn btn-primary btn-lg">Know more &raquo;</a>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>How to use</h2>
            <p>
                This is the account log in portal for consume the services.
            </p>
            <p><a class="btn btn-default" href="http://xservice.com">Know more &raquo;</a></p>
        </div>
        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>